* {
  // outline: aqua dotted 2px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

header {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #333;
  padding-bottom: 10px;

  .logo {
    margin-right: 30px;
  }
}

.left-sidebar {

}

main {
  display: flex;
  flex-direction: row;
}

nav {
  color: #fff;
  background: #333;
}
