body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #333;
  padding-bottom: 10px;

  .logo {
    margin-right: 30px;
  }
}
