body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column; }

a {
  color: #00B7FF; }

header {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #333;
  padding-bottom: 10px; }
  header .logo {
    margin-right: 30px; }

main {
  display: flex;
  flex-direction: row; }

nav {
  color: #fff;
  background: #333; }
